In [1]:
from universities_analysis.data import *
from universities_analysis.read import *

df = read_data()
df

PUBLISHED

,NationalRank,RegionalRank,Rank2022,Rank2021,InstitutionName,LocationCode,LocationCountry,ClassificationSize,ClassificationFocus,ClassificationRes,ClassificationAge,ClassificationStatus,AcademicReputatationScore,AcademicReputatationRank,EmployerReputationScore,EmployerReputationRank,FacultyStudentScore,FacultyStudentRank,CitationsPerFacultyScore,CitationsPerFacultyRank,InternationalFacultyScore,InternationalFacultyRank,InternationalStudentsScore,InternationalStudentsRank,OverallScore
0,1.00000,1.00000,1.00000,1.00000,Massachusetts Institute of Technology (MIT),US,United States,M,CO,VH,5,B,100.00000,5.00000,100.00000,4.00000,100.00000,12.00000,100.00000,6.00000,100.00000,45.00000,91.40000,105.00000,100.00000
1,1.00000,1.00000,2.00000,5.00000,University of Oxford,UK,United Kingdom,L,FC,VH,5,A,100.00000,3.00000,100.00000,3.00000,100.00000,5.00000,96.00000,34.00000,99.50000,83.00000,98.50000,52.00000,99.50000
2,2.00000,2.00000,3.00000,2.00000,Stanford University,US,United States,L,FC,VH,5,B,100.00000,4.00000,100.00000,5.00000,100.00000,9.00000,99.90000,10.00000,99.80000,73.00000,67.00000,208.00000,98.70000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297,6.00000,58.00000,1201.00000,1001.00000,Yarmouk University,JO,Jordan,XL,FC,MD,3,A,9.30000,501.00000,10.20000,501.00000,1.90000,601.00000,2.20000,601.00000,1.20000,601.00000,11.00000,601.00000,NaN
1298,16.00000,72.00000,1201.00000,1001.00000,Yildiz Technical University,TR,Turkey,XL,CO,HI,5,A,5.60000,501.00000,10.50000,501.00000,6.10000,601.00000,5.40000,601.00000,1.10000,601.00000,8.90000,601.00000,NaN
1299,9.00000,58.00000,1201.00000,NaN,Zagazig University,EG,Egypt,XL,FC,HI,3,A,4.70000,501.00000,2.80000,501.00000,3.40000,601.00000,2.20000,601.00000,1.00000,601.00000,1.90000,601.00000,NaN

In [2]:
with show:
    BST_SCORES
BST_SCORES.iloc[:10].select_dtypes(float).mean()

                                     Name  Rank2022    Score
0                    University of Oxford   2.00000 99.50000
1                 Imperial College London   7.00000 97.30000
2               University College London   8.00000 95.40000
3                     Columbia University  19.00000 88.70000
4                   University of Toronto  26.00000 85.30000
5                   King's College London  35.00000 82.00000
6      The University of British Columbia  46.00000 77.10000
7              London School of Economics  49.00000 75.80000
8               University of Southampton  77.00000 65.70000
9                       Durham University  82.00000 65.20000
10               University of Birmingham  90.00000 62.90000
11            The University of Sheffield  95.00000 61.60000
12                     Utrecht University 110.00000 57.50000
13                      Leiden University 112.00000 57.00000
14                      Kyushu University 137.00000 53.30000
15                 University of Waterloo 149.00000 50.50000
16              Michigan State University 157.00000 49.70000
17             Kingston University London 625.50000      NaN
18                          Smith College 625.50000      NaN
19              University of Westminster 725.50000      NaN
20                 Ritsumeikan University 775.50000      NaN
21            Nottingham Trent University 900.50000      NaN
22         California College of the Arts       NaN      NaN
23              Liverpool Hope University       NaN      NaN
24                  Maastricht University       NaN      NaN
25  United International Business Schools       NaN      NaN
26      University of Toronto Scarborough       NaN      NaN
27          University of the Arts London       NaN      NaN

Rank2022   35.10000
Score      83.20000
dtype: float64

In [3]:
with show:
    LFIT_SCORES
LFIT_SCORES.iloc[:10].select_dtypes(float).mean()

                                                 Name  Rank2022    Score
0                                Cambridge University   3.00000 98.70000
1                                    Imperial College   7.00000 97.30000
2         Eidgenössische Technische Hochschule Zürich   8.00000 95.40000
3                        University College of London   8.00000 95.40000
4                               University of Toronto  26.00000 85.30000
5                                  Mc Gill University  27.00000 84.00000
6                               King's College London  35.00000 82.00000
7                      University of British Columbia  46.00000 77.10000
8                 Bachelor of the Ecole Polytechnique  49.00000 75.90000
9                          London School of Economics  49.00000 75.80000
10                            University of Amsterdam  55.00000 73.80000
11                                 Warwick University  61.00000 71.20000
12                   Universités de Paris La Sorbonne  72.00000 67.10000
13                             Université de Montréal 111.00000 57.30000
14                            University of Gröningen 128.00000 54.80000
15           Ecole Polytechnique Fédérale de Lausanne 176.00000 46.60000
16                            University of Rotterdam 179.00000 46.30000
17                              Université de Louvain 188.00000 45.60000
18                                    Keio University 201.00000 43.90000
19                                  Waseda University 203.00000 43.30000
20                                  Sciences-Po Paris 261.00000 37.30000
21                               Concordia University 525.50000      NaN
22               Università Cattolica del Sacro Cuore 555.50000      NaN
23                       Université d'Assas -Paris-II 625.50000      NaN
24                                  Temple University 775.50000      NaN
25  Ferrandi International Hospitality Management ... 900.50000      NaN
26                 Université René Descartes -Paris-V       NaN      NaN
27                      University of Global Business       NaN      NaN
28                         Universités de Technologie       NaN      NaN
29          Institut d'Administration des Entreprises       NaN      NaN
30     CPES Paris Sciences & Lettres + Lycée Henri-IV       NaN      NaN
31             Penninghen Institute of Art and Design       NaN      NaN
32                                  Olivier de Serres       NaN      NaN
33                                    Ecole du Louvre       NaN      NaN
34  Vatel International Hospitality Management School       NaN      NaN
35                         ESSEC School of Management       NaN      NaN
36                                        ESCP Europe       NaN      NaN
37                              EDHEC Business School       NaN      NaN
38                                            EM Lyon       NaN      NaN
39                         IESEG School of Management       NaN      NaN
40                        ENSA School of Architecture       NaN      NaN
41                                          INSA Lyon       NaN      NaN
42                                       ISIPCA Paris       NaN      NaN
43                                          ISTR Lyon       NaN      NaN
44         Hospitality Management School of The Hague       NaN      NaN
45                        Ecole hôtelière de Lausanne       NaN      NaN
46                                   Université Libre       NaN      NaN
47                             University of Mechelen       NaN      NaN
48                                  LUISS Guido Carli       NaN      NaN
49                       Bocconi School of Management       NaN      NaN
50                                         HTW Berlin       NaN      NaN
51                                München Universität       NaN      NaN
52                           Musashino Art University       NaN      NaN
53                           University of California       NaN      NaN
54                                 Middlebury College       NaN      NaN

Rank2022   25.80000
Score      86.69000
dtype: float64